<!-- ...:::: Start Customer Login Section :::... -->
<div class="customer-login mt-10">
    <div class="container">
        <div class="row ">
            <!--login area start-->
            <div class="col-lg-6 col-md-6 m-auto">
                <div class="account_form" data-aos="fade-up" data-aos-delay="0">
                    <h3 class="font-weight-bold">login</h3>
                    <form action="#" method="POST">
                        <div class="default-form-box">
                            <label>Username or email <span>*</span></label>
                            <input type="text">
                        </div>
                        <div class="default-form-box">
                            <label>Passwords <span>*</span></label>
                            <input type="password">
                        </div>
                        <div class="default-form-box d-flex">
                            <input class="d-block p-0" style="width: 1rem; margin-right: 1rem" type="checkbox" id="offer">
                            <span>Ghi nhớ đăng nhập</span>
                        </div>
                        <div class="login_submit d-flex gap-4" style="column-gap: 1.5rem">
                            <button class="btn btn-md btn-black-default-hover w-25 mb-4" type="submit">login</button>
                            <div class="mb-4">
                                <span>Bạn chưa có tài khoản? <a href="#" class="d-inline text-primary">Đăng ký</a></span>
                                <span>Bạn quên mật khẩu? <a href="#" class="d-inline text-primary">Quên mật khẩu</a></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--login area start-->
        </div>
    </div>
</div> <!-- ...:::: End Customer Login Section :::... -->